d22:First Recorded Version7:4.7.1.22:ID20:w5ABgGW7LGtyAdVKZvyg12:Last Version0:42:StartStopManager_iFirstPriority_ShareRatioi500e15:TCP.Listen.Porti34197e15:UDP.Listen.Porti34197e23:UDP.NonData.Listen.Porti34197e9:User Modei0e29:azureus.application.directory15:/usr/share/vuze22:azureus.user.directory20:/home/marco/.azureus15:azureus.version7:4.7.1.220:config.checker.leveli1e28:core.crypto.ecc.1.privatekey40:Œ£#∏UçFL°9^0oï#óÈ∞¿ùI:‚pÿì∏Ìtá:=Ëı¬oN27:core.crypto.ecc.1.publickey49:Ó®zπø˘õ^<≤Àù5»∏◊&gÔ7r¢è‡U`π0ã›ı`.ù".H…å{24:core.crypto.ecc.1.pwtypei1e14:core.crypto.id20:Î∏àwí.;<L	I˜Lü&Ä>32:core.crypto.pw.1.persist_timeouti9223372036854775807e29:core.crypto.pw.1.persist_typei1e30:core.crypto.pw.1.persist_value40:FA29970511286EA0D2A06A08024E2C63889C348F22:diagnostics.tidy_closei0e27:diags.enable.pending.writesi0e25:locale.set.complete.counti2ee